{{#each ideas}}
    <div class="thumbnail caption">
        <h4 class="">{{title}}</h4>
        <p class="">{{details}}</p>
        <a href="/ideas/edit/{{id}}" class="btn btn-primary btn-lg btn-block mb-2">Edit</a>
        <form action="/ideas/{{id}}?_method=DELETE" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <button class="btn btn-danger btn-lg btn-block" type="submit">Delete idea</button>
        </form>
    </div>
    {{else}}
        <p>No video ideas listed.</p>
        <a href="/ideas/add" class="btn btn-danger">Create one!</a>
    {{/each}}